/* Equivalent to Tailwind's 'text-3xl', mb-4, and font-bold*/
h3 {
    font-weight: bold;
    font-size: 1.875rem;
    margin: 1rem;
}

/* Equivalent to Tailwind's 'text-2xl' and m-2*/
p {
    font-size: 1.5rem;
    margin: 0.5;
}

@media screen and (max-width: 767px) {
    h3 {
        font-size: 1.5rem;
        margin: 1rem;
    }

    p {
        font-size: 1.25rem;
        margin: 0.5;
    }
}