{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'portfo/favicon.ico' %}">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body class="flex flex-col min-h-screen font-sans bg-white text-teal-500 ">
        <nav class="p-4 bg-gray-100 text-red-500 text-xl">
             <div class="flex-1 mx-auto ">
                <a href="{% url 'home' %}" class="pr-1">Home</a>
                <a href="{% url 'about' %}" class="pr-1">About</a>
                <a href="{% url 'skill' %}" class="pr-1">Skills</a>
                <a href="{% url 'projects-page' %}" class="pr-1">Projects</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </nav>
        <hr>
        <div class="container mx-auto mt-8">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="bg-gray-100 text-teal-500 p-3 mt-auto">
            <div class="mx-auto flex justify-between items-center">
                <!-- Contact Information -->
                <div>
                    <p class="text-xs">Contact: Alexander.Swearingen24@gmail.com | Phone: +1 (208)-301-8274 | <a href="{% url 'contact' %}">Contact Page</a></p>
                </div>
                <div class="flex space-x-4">
                    <!-- GitHub -->
                    <a href="https://github.com/ZanderCoding" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'portfo/images/github-mark.png' %}" alt="GitHub" class="h-6 w-6">
                    </a>

                    <!-- LinkedIn -->
                    <a href="https://www.linkedin.com/in/alexander-swearingen-655047262/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'portfo/images/In-Blue-26-╬ô├ñ├│.png' %}" alt="LinkedIn" class="h-6 w-9">
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>