{% extends "portfo/_base.html" %}
{% block title %}About{% endblock title %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'portfo/CSS/about.css' %}" type="text/css">
    <div class="text-center">
        <h1 class="text-6xl font-bold mb-6">About Me</h1>
        <h2 class="text-3xl mb-4 font-bold">Hello Again</h2>
        <p>I am a tech enthusiast with a flair for Python, Django, and cybersecurity. I revel in crafting digital solutions that seamlessly blend innovation and security. My journey in the tech world has led me to become adept at building robust web applications. Additionally, I wield the power of JavaScript, HTML, CSS (especially Tailwind CSS) to sculpt engaging and responsive user interfaces.</p>
        <h2 class="text-4xl font-bold m-6">Technical Prowess</h2>
        <h3>Python & Django</h3>
        <p>With a solid foundation in Python, I leverage its capabilities to architect scalable and efficient web applications. Django, being my go-to framework, allows me to bring ideas to life with speed and precision, ensuring a seamless user experience.</p>
        <h3>Flask</h3>
        <p>As a versatile developer, I'm adept at utilizing Flask as a backup framework for Python. Whether it's building APIs, microservices, or smaller-scale applications, Flask provides me with the flexibility to adapt to various project requirements.</p>
        <h3>Cybersecurity</h3>
        <p>My expertise in cybersecurity goes beyond code. I am committed to safeguarding digital landscapes, implementing best practices to protect sensitive information, and staying ahead of evolving threats.</p>
        <h3>Front-End Mastery</h3>
        <p>I bring websites to life with dynamic and responsive user interfaces. Using HTML, CSS, and Tailwind CSS, I ensure that the visual aspect of my creations not only meets but exceeds user expectations.</p>
        <h2 class="text-3xl font-bold m-6">Beyond the Code</h2>
        <p>Away from the screen, I find joy in the rhythm of life through two contrasting yet equally fulfilling hobbies.</p>
        <h3>Guitar Enthusiast</h3>
        <p>Strumming chords and creating melodies on my guitar is my way of unwinding. Music not only provides an escape but also fuels my creativity, offering a different kind of harmony to balance the logic of coding.</p>
        <h3>Weight Lifting Aficionado</h3>
        <p>In the world of bytes and code, I also find solace in the iron and sweat of the weight room. Weight lifting isn't just a physical pursuit for me; it's a mental and emotional challenge that complements the cerebral nature of my work.</p>
        <hr class="m-5">
        <p class="text-2xl m-2">Join me on this multifaceted journey where the code meets creativity, and the digital and physical worlds find harmony.</p>
        <p class="text-2xl m-4">And feel free to explore the rest of my portfolio and get in touch.</p>
    </div>
{% endblock content %}