{% extends "portfo/_base.html" %}
{% block title %}About{% endblock title %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'portfo/CSS/about.css' %}" type="text/css">
    <div class="text-center">
        <h1 class="text-5xl lg:text-6xl font-bold mb-6">About Me</h1>
        <h2 class="text-3xl mb-4 font-bold">Hello Again</h2>
        <p>I am a full-stack web developer with a focus on Python, Django, and 
            Cybersecurity. Proficient in creating back-end solutions, I incorporate 
            Flask as a backup framework. On the front-end, I leverage HTML, CSS to 
            create user interfaces, occasionally incorporating JavaScript to 
            add responsiveness. This combination ensures the development of secure 
            and responsive web applications.
        </p>
        <h2 class="text-4xl font-bold m-6">Technical Prowess</h2>
        <h3>Python</h3>
        <p>With a strong foundation in Python 3, I leverage its capabilities to develop 
            web applications, and have explored applications in web scraping, automation, 
            and Penetration Testing. My primary framework is Django, supplemented by 
            Flask as a backup, ensuring a versatile development approach.
        </p> 
        <h3>Cybersecurity</h3>
        <p>My proficiency extends beyond coding into the realm of cybersecurity, 
            where I actively safeguard the digital landscape and implement secure 
            coding practices on the web.
        </p>
        <h3>Front-End Mastery</h3>
        <p>Utilizing HTML, CSS, and occasionally Tailwind CSS and JavaScript, 
            I bring websites to life, exceeding user expectations.
        </p>
        <h2 class="text-4xl font-bold m-6">Beyond the Code</h2>
        <p>Outside of the digital realm, 
            I derive joy from two distinct and fulfilling hobbies.
        </p>
        <h3>Guitar Enthusiast</h3>
        <p>Strumming chords and creating melodies on the guitar provides an escape 
            from the logic of coding with the freedom to break traditional rules.
        </p>
        <h3>Weight Lifting Aficionado</h3>
        <p>In the realm of bytes and code, the weight room becomes a mental challenge 
            that complements the cerebral nature of my work.
        </p>
        <hr class="m-5">
        <p class="text-xl lg:text-2xl m-2">Embark on this journey with me where the digital 
            and physical worlds harmonize, bringing ideas to life.
        </p>
        <p class="text-xl lg:text-2xl m-4">For any inquiries or to drop a quick message, 
            visit the <a href="{% url 'contact' %}" class="font-bold">Contact Page</a>, 
            or connect with me on 
            <a href="https://www.linkedin.com/in/alexander-swearingen-655047262/"
                target="_blank" rel="noopener noreferrer" class="font-bold">
                LinkedIn.
            </a>
        </p>
    </div>
{% endblock content %}