{% extends "portfo/_base.html" %}

{% load static %}
{% block title %}Home{% endblock title %} 

{% block content %}
    <header class="text-center">
        <div id="typed-text-1" class="font-bold text-5xl lg:text-6xl mb-12"></div>
        <h2 class="text-4xl font-bold mb-12">My name is Alexander S.</h2>
        <div class="text-3xl flex flex-col items-center text-center justify-center">
            <div class="intro-text">I am a&nbsp;</div>
            <div id="typed-text-2" class="pr-1 pl-1" style="min-height: 2.5em;"></div>
        </div>
    </header> 
    <section class="mt-10 text-center">
        <p class="text-2xl pr-1 pl-1 pb-3">I'm a tech enthusiast adept at Python, Django, and cybersecurity, 
            crafting robust web applications and designing engaging user 
            interfaces with JavaScript, HTML, CSS (especially Tailwind CSS).</p>
        {% comment %} <p class="text-2xl mb-2">
            Click <a class="font-bold" href="{% url 'skill' %}">Here</a> to see the rest
            of my Skills
        </p>
        <p class="text-2xl">
            Or <a class="font-bold" href="{% url 'projects-page' %}">Here</a> to see
            some Projects
        </p> {% endcomment %}
    </section>
    <script src="{% static 'portfo/js/homeAnimation.js' %}"></script>
    <script>
        animateTitle("typed-text-1", ["Welcome to my Portfolio Website"]);
    </script>
    <script>
        animate("typed-text-2", [
            "Full Stack Django Web Developer.",
            "Python Engineer",
        ]);
    </script>
{% endblock content%}
