{% extends "portfo/_base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
    <header class="text-center">
        <h1 class="text-6xl font-bold mb-12">Welcome to My Portfolio Website</h1>
        <h2 class="text-4xl font-bold mb-12">My name is ----</h2>
        <p class="text-3xl">I am a Full Stack Dango Web Developer.</p>
    </header>
    <section class="mt-8 text-center">
        <p class="text-2xl mb-2">Click <a class="font-bold" href="{% url 'skill' %}">Here</a> to see the rest of my Skills</p>
        <p class="text-2xl">Or <a class="font-bold" href="{% url 'projects-page' %}">Here</a> to see some Projects</p>
    </section>
{% endblock content%}
