{% extends "portfo/_base.html" %}

{% block title %}Project{% endblock title %}

{% block content %}
    <header class="text-center">
        <h1 class="text-4xl font-bold mb-4">{{ project.name }}</h1>
    </header>
    <section class="text-center mt-5 text-2xl">
        {{ project.description }}
        <br>
        <a href="{{ project.source_code }}" target="_blank" rel="noopener noreferrer" class="bg-green-500 px-4 py-1 rounded hover:cursor-pointer hover:bg-green-600">Source Code</a>
    </section>

{% endblock content %}