{% extends "portfo/_base.html" %}

{% block title %}Project{% endblock title %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'portfo/CSS/project-skill-Detail.css' %}" type="text/css">
    <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold mb-8">{{ project.name }}</h1>

        <div class="bg-gray-100 p-4 rounded shadow mb-6">
            <h2 class="text-2xl font-bold mb-2">Description</h2>
            <p class="text-lg">{{ project.description }}</p>
        </div>

        <div class="bg-gray-100 p-4 rounded shadow mb-6">
            <h2 class="text-2xl font-bold mb-2">Languages / Frameworks Used</h2>
            <p class="text-lg">{{ project.frameworks }}</p>
        </div>

        <div class="bg-gray-100 p-4 rounded shadow mb-6">
            <h2 class="text-2xl font-bold mb-2">Main Features</h2>
            <p class="text-lg">{{ project.features }}</p>
        </div>

        <div class="bg-gray-100 p-4 rounded shadow mb-6">
            <h2 class="text-2xl font-bold mb-2">How to Install</h2>
            <p class="text-lg">{{ project.installation }}</p>
        </div>

        <div class="flex items-center space-x-4">
            <a href="{{ project.source_code }}" target="_blank" rel="noopener noreferrer" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Source Code / Live Preview</a>
        </div>
    </div>
{% endblock content%}
